body {
  		font-family: 'montserrat', sans-serif;
 		padding: 0;
 		padding-bottom: 50px;
  		margin: 0;
  		background-color: #ecf1f5;
	}
#navbar {
	width: 100%;
	height: 80px;
	background-color: #F8CA2D;
}
.logo{
	padding-top: 20px;
	padding-left: 50px; 
	float: left;
}
.logo img{
	width: 200px;
}
.akun{
	float: right;
	width: 250px;
	height: 80px; 
	margin-right: 50px; 
	background-color: #EFF3F6;
}
.akun a{
    text-decoration: none;
    color: #2C2C2C;
    position: relative;
    top: 5;
}
.icon-saldo{
    color: #00AEEF;
    float: left;
    border: 2px solid;
    border-radius: 50px;
    padding: 3%;
}
.total-saldo{
    color: #00AEEF;
    font-weight: 600;
    font-size: 20px;
}
.content-account {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content-account a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content-account a:hover {background-color: #f1f1f1;border-radius: 5px;}
.akun button{
	width: 250px;
	height: 80px;
	color: white;
    padding: 16px;
    font-size: 16px;
    background-color: #E1B01E;
    border: none;
    cursor: pointer;
}
.akun button:hover {
    background-color: #23C8F9;
}
.akun img{
	vertical-align: middle;
	margin-right: 15px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.akun:hover .content-account {
    display: block;
}
#header-img{
	width: 100%;
	height: 300px;
	background-image: 
	linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(248, 202, 45, 0.50)
    ),
	url("img/home.jpg");
	background-size: 100%;
	background-position:  center;
}
#headprofile img{
	position: absolute;
	top: 220px;
	left: 150px;
	vertical-align: middle;
	border: 4px solid #ffffff;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#headprofile img:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px); }
#headprofile p{
	position: absolute;
	top: 290px;
	font-size: 35px;
	color: #ffffff;
	margin-left: 350px;
}
#headprofile {
	margin-left: 100px;
}
#head-isi{
	width: 100%;
	height: 120px;
	background-color: #ecf1f5;
}
#isibody{
    width: 65%;	
	margin: auto;
    margin-top: 30px;
	border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
	padding: 50px;
	background-color: #ffffff;
}
#isibody .title{
    margin: 0;
    color: #333333;
    font-weight: 300;
    font-size: 25px;
}
#isibody .category{
    color: #9A9A9A;
    margin: 0;
}
.passcek:invalid {
  border: 3px solid #E4323A;
}
#caritagihan{
	position: absolute;
    top: 315px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
    width: 70%;
    background-color: #ffffff;
    webkit-box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
    box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
}
#checkout{
    display: inline-block;
    padding: 30px;
    margin-top: -65px;
    width: 50%;
    background-color: #ffffff;
    webkit-box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
    box-shadow: 0px 15px 77px -27px rgba(0,0,0,0.36);
}
label{
	color: #9A9A9A;
    max-width: 100%;
	font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
input[type=text], select, input[type=password], textarea{
    width: 100%;
    margin: 10px 0px; 
    padding: 12px 20px;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.cssbln{
	margin-left: 90px;
}
input[type=text]:focus, select:focus, input[type=password]:focus, textarea:focus {
    border: 3px solid #555;
}
input[type=submit]{
  font-family: 'Montserrat',sans-serif;
  margin-top: 5px;
  width: 100px;
  padding: 14px 20px;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  color: #ffffff;
  background-color:#00AEEF;
}
#content{
    margin: auto;
    margin-top: 125px;
    padding-bottom: 125px;
    width: 90%;
    height: 350px;
    text-align: center;
}
.tbltgh{
  	display: inline-block;
    background-color: #ffffff;
    width: 24%;
    margin: auto;
    margin-top: 25px;
}
.headlisttgh{
	padding: 15px 0px;
	width: 100%;
	height: 25px;
	background-color: #F8CA2D;
	color: #0B686D;
}
.btnbyr{
		font-family: 'Montserrat',sans-serif;
		margin-top:90px;
		width: 100%;
		height: 50px;
		border: none;
		padding: 5px 0px;
		cursor: pointer;
		color: #0B686D;
		background-color:#E1B01E;
	}
.btnbyr:hover {
		border: none;
		color: #ffffff;
		background-color:#4ce093;
	}